<div class="flex justify-center">
  <div>
    <img src="/mermaid.png" alt="schema to employed until eligibility for bildungsurlaub">
  </div>
</div>


<div>
  <h2><b>TODO:</b></h2>

    <h3>What is Bildungsurlaub?</h3>

    <p class="m-8"><em><q>In most federal states, employees are offered the opportunity to take time off work to take advantage of
        opportunities
        for further education. This is known as "Bildungsurlaub" or "Bildungsfreistellung".

        In the overview below, you will find a brief description of each federal state that offers such a scheme and
        references
        to sources that provide detailed information on requirements and further information.</q></em> - InfoWeb Weiterbildung
    </p>

    <p class="m-8"><em><q>Educational leave is the legal entitlement of employees in [Germany] to time off work to participate in
    recognized further education events with continued payment of remuneration. </q></em> - Berlin.de</p>

    <h3>Definition and eligibility from the German law</h3>

    <p class="m-8">Each principle and eligibility depend on the state your are working in. In the overview below you will find a description of the principles (Grundsätze) and eligibility (Anspruch) of each state:</p>

      <Accordion @states={{@model.data}} />
      {{log @model.data 'model.data'}}

    <h3>Include complete schema of scenarios</h3>
    General scenario of eligibility containing employment status + if already used Bildungsurlaub days, and more
    <h3>Schema needs a complete alt text</h3>
    <h3>How to apply for Bildungsurlaub</h3>
    <h3>List or schema of actions</h3>
    <h3>Create a request for Bildungsurlaub to HR</h3>
    <h3>Copy text in English</h3>
    <h3>Copy text in German</h3>
    <h3>Create table of content</h3>
    <h3>Add additional links</h3>
    <h3>Replace Tailwind logo with Bildungsurlaub one (Canva logo creation? or ask ChatGPT for platform to create logos)</h3>
    <h3>Verify pages are accessible with Colorblind extension + Lighthouse</h3>
</div>


<h2><b>Weiterbildung:</b></h2>
<ul style="list-style: inside">
  <li><a class="underline underline-offset-2"
    href="https://www.fu-berlin.de/en/sites/abt-1/referate/1c/welcome-service/ansprechpersonen-servicestellen/weiterbildung/bildungszeit.html">Taking
    Leave for Further Education and Training (Bildungzeit)</a></li>
  <li><a class="underline underline-offset-2" href="https://www.berlin.de/sen/arbeit/weiterbildung/bildungszeit/">Bildungzeit - Berlin official website</a></li>
  <li><a class="underline underline-offset-2"
    href="https://www.bildungsurlaub.de/infos/about_bildungsurlaub_general_informations_for_schools">Bildungsurlaub.de</a></li>
  <li><a class="underline underline-offset-2"
    href="https://en.berlinoschule.com/educational-leave-in-germany-bildungsurlaub-you-study-and-the-employer-keeps-paying-you/">Bildungsurlaub
    - English article</a></li>
  <li><a class="underline underline-offset-2" href="https://bildungsurlaub-approval.de/info-educators/">Bildungsurlaub approval - also check per state</a></li>
  <li><a class="underline underline-offset-2" href="https://www.iwwb.de/information/Bildungsurlaub-in-Deutschland-weiterbildung-26.html#:~:text=Berlin">Info Web
    Weiterbildung - Shows the official info (PDFs) and law</a></li>
</ul>
