<div class="flex justify-center">
  <div>
    <img src="/mermaid.png" alt="schema to employed until eligibility for bildungsurlaub">
  </div>


<div>
  <h2><b>TODO:</b></h2>

  <ul>
    <li>What is Bildungsurlaub?</li>
    <li>Definition from the German law</li>
    <li>Are you eligible for Bildungsurlaub?</li>
    <li>Include complete schema of scenarios</li>
    <li>Schema needs a complete alt text</li>
    <li>How to apply for Bildungsurlaub</li>
    <li>List or schema of actions</li>
    <li>Create a request for Bildungsurlaub to HR</li>
    <li>Copy text in English</li>
    <li>Copy text in German</li>
    <li>Create table of content</li>
    <li>Add additional links</li>
    <li>Replace Tailwind logo with Bildungsurlaub one (Canva logo creation? or ask ChatGPT for platform to create logos)</li>
    <li>Verify pages are accessible with Colorblind extension + Lighthouse</li>
  </ul>
</div>


<h2><b>Weiterbildung:</b></h2>
<ul>
  <li><a class="underline underline-offset-2"
    href="https://www.fu-berlin.de/en/sites/abt-1/referate/1c/welcome-service/ansprechpersonen-servicestellen/weiterbildung/bildungszeit.html">Taking
    Leave for Further Education and Training (Bildungzeit)</a></li>
  <li><a class="underline underline-offset-2" href="https://www.berlin.de/sen/arbeit/weiterbildung/bildungszeit/">Bildungzeit - Berlin official website</a></li>
  <li><a class="underline underline-offset-2"
    href="https://www.bildungsurlaub.de/infos/about_bildungsurlaub_general_informations_for_schools">Bildungsurlaub.de</a></li>
  <li><a class="underline underline-offset-2"
    href="https://en.berlinoschule.com/educational-leave-in-germany-bildungsurlaub-you-study-and-the-employer-keeps-paying-you/">Bildungsurlaub
    - English article</a></li>
  <li><a class="underline underline-offset-2" href="https://bildungsurlaub-approval.de/info-educators/">Bildungsurlaub approval - also check per state</a></li>
  <li><a class="underline underline-offset-2" href="https://www.iwwb.de/information/Bildungsurlaub-in-Deutschland-weiterbildung-26.html#:~:text=Berlin">Info Web
    Weiterbildung - Shows the official info (PDFs) and law</a></li>
</ul>
</div>
