<div class="flex justify-center">
  <div>
    <img src="/mermaid.png" alt="schema to employed until eligibility for bildungsurlaub">
  </div>


<div>
  <h2><b>TODO:</b></h2>

  <ul>
    <li>What is Bildungsurlaub?</li>
    <li>Definition from the German law</li>
    <li>Are you eligible for Bildungsurlaub?</li>
    <li>Include complete schema of scenarios</li>
    <li>Schema needs a complete alt text</li>
    <li>Add additional links</li>
    <li>Create a request for Bildungsurlaub to HR</li>
    <li>Copy text in English</li>
    <li>Copy text in German</li>
    <li>Replace Tailwind logo with Bildungsurlaub one (Canva logo creation? or ask ChatGPT for platform to create logos)</li>
    <li>Verify pages are accessible with Colorblind extension + Lighthouse</li>
  </ul>
</div>
</div>
