
/* General */

html  {
  background-color: #202834;
}

body {
  background-color: #202834;
  color: #C4C7C8;
}

/* Navbar */

nav {
  background-color: #46A29F;
}

/* Headers */

h1 {
  font-size: 2rem;
  border: 3px solid;
}

div.h1 {
  font-size: inherit;
  border: 3px solid;
}

/* Accordion eligibility */
#eligibility-button-select {
  background-color: #83677b;
  color: #C4C7C8;
}

#accordion-flush {
  border: 3px solid #64485c;
}

#accordion-main-body {
  color: #C4C7C8;
  background-color: #64485c;
}
/* Table of content */

.skip-to-main a {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  font-weight: bold;
  font-size: 1.2rem;
}

.skip-to-main a:focus {
  position: static;
  width: auto;
  height: auto;
  transform: scale(1.2);
  text-shadow: none;
  margin: 0.8em;
  padding: 0.5em;
  border: 2px solid;
}

div.table-of-contents {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  width: fit-content;
  border: 3px solid #64485c;
  background-color: #83677b;
  color: #C4C7C8;
  border-radius: 3px;
}

div.table-of-contents li {
  margin: 0.5em 0 0.5em 0;
}

table, caption {
    background-color: #83677b;
      color: #C4C7C8;
}

#templatesAndQuotes {
  width: 80%;
      background-color: #83677b;
        color: #C4C7C8;
        padding: 3px;
        border: 3px solid #64485c;
        border-radius: 3px;
}

/* Buttons */

.copy-to-clipboard {
  border: 3px solid #64485c;
  border-radius: 3px;
        color: #C4C7C8;
        padding: 4px;
}
