
{{!-- Flowbite accordion component --}}
<div id="accordion-flush" data-accordion="collapse" data-active-classes="bg-white dark:bg-gray-900 text-gray-900 dark:text-white" data-inactive-classes="text-gray-500 dark:text-gray-400"
class="w-5/6">
  {{#each this.states as |state index|}}
    <State @state={{state}} @index={{index}} />
  {{/each}}
</div>
